@import "tailwindcss";


@font-face {
  font-family: "font1";
  src: url("/Dash-Horizon-Demo.otf") ;
}

@font-face {
  font-family: "font2";
  src: url("/Neogen-Black.ttf") ;
}

@font-face {
  font-family: "font3";
  src: url("/Garet-Book.otf") ;
}

@font-face {
  font-family: "font4";
  src: url("/LEMONMILK-Regular.otf") ;
}



@font-face {
  font-family: "font5";
  src: url("/Altone Trial-Regular.ttf") ;
}



@font-face {
  font-family: "font6";
  src: url("/BebasKai.otf") ;
}



@font-face {
  font-family: "font7";
  src: url("/Black Mustang.ttf") ;
}



